.card-header #logo{
  background-image: url('./images//logo.jpg');
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  min-height: 100px;
}
.card-header{
  background-color: white;;
}
.content .notify-user{
  background-color: #fff8db;
  color: #bc814a;
}
.card .card-subtitle{
  color: #e07b53;
}  



#items {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
}
#items li{
  cursor: pointer;

}

#item {
  padding: 10px;
}
/* customers */
#customers {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
}
#customers li{
  cursor: pointer;

}

#customers {
  padding: 10px;
}
.card-box {
  position: relative;
  color: #fff;
  padding: 20px 10px 40px;
  margin: 20px 0px;
}
.card-box:hover {
  text-decoration: none;
  color: #f1f1f1;
}
.card-box:hover .icon i {
  font-size: 100px;
  transition: 1s;
  -webkit-transition: 1s;
}
.card-box .inner {
  padding: 5px 10px 0 10px;
}
.card-box h3 {
  font-size: 27px;
  font-weight: bold;
  margin: 0 0 8px 0;
  white-space: nowrap;
  padding: 0;
  text-align: left;
}
.card-box p {
  font-size: 15px;
}
.card-box .icon {
  position: absolute;
  top: auto;
  bottom: 5px;
  right: 5px;
  z-index: 0;
  font-size: 72px;
  color: rgba(0, 0, 0, 0.15);
}
.card-box .card-box-footer {
  position: absolute;
  left: 0px;
  bottom: 0px;
  text-align: center;
  padding: 3px 0;
  color: rgba(255, 255, 255, 0.8);
  background: rgba(0, 0, 0, 0.1);
  width: 100%;
  text-decoration: none;
}
.card-box:hover .card-box-footer {
  background: rgba(0, 0, 0, 0.3);
}
.bg-blue {
  background-color: #00c0ef !important;
}
